    
      
      /* General styles and layout */
      body {
        background-color: black;
      }
  
      .soundflix {
        height: 17em;
        left: 50%;
        position: absolute;
        top: 38%;
        transform: translate(-50%, -50%);
        width: 34em;
      }
      
      .byline span {
        display: inline-block;
      }
      
      img {
        width: 100%;
      }
      
      .byline {
       
      }
      
      .movie {
        top: -0.75em;
      }
      
      .phone {
        bottom: -0.5em;
      }
      
      .byline {
        position: absolute;
        color: #fff;
        font-family: "ITC Serif Gothic", Lato;
        font-size: 3em;
        left: -2em;
        letter-spacing: 0.2em;
        right: -2em;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
      }
    