    /* Animation properties */
    .movie {
        animation: movie 6s ease-out ;
      }
      .phone {
        animation: phone 6s ease-out;
      }
      .byline {
        animation: move-byline 6s linear ;
      }
      
      /* Keyframes */
      @keyframes movie {
        0% {
          opacity: 0;
          transform: scale(1.5) translateY(-0.75em);
        }
        20% {
          opacity: 1;
        }
        89% {
          opacity: 1;
          transform: scale(1);
        }
        99% {
          opacity: 0;
          transform: translateZ(-1000em);
        }
        100% {
          opacity: 1;
        }
      }
      
      @keyframes phone {
        0% {
          opacity: 0;
          transform: scale(1.5) translateY(0.5em);
        }
        20% {
          opacity: 1;
        }
        90% {
          opacity: 1;
          transform: scale(1);
        }
        99% {
          opacity: 0;
          transform: translateZ(-1000em);
        }
        100% {
          opacity: 1;
        }
  
      }
      
      @keyframes move-byline {
        0% {
          transform: translateZ(5em);
        }
        100% {
          transform: translateZ(0);
        }
      }
      
      /* Make the 3D work on the container */
      .movie-phone {
        perspective: 800px;
        transform-style: preserve3d;
      }
      
      /* General styles and layout */
      body {
        background-image: url("https://cssanimation.rocks/demo/starwars/images/bg.jpg");
      }
  
      .enterDiv {
          padding-left: 130px;
          padding-top: 400px;
      }
      .enterLink {
         justify-content: center;
         background-color: yellow;
         font-weight: bolder;
         color: black;
         height: 45px;
         width: 300px;
         font-size: 30px;
         padding-left: 20px;
      }
  
      .movie-phone {
        height: 17em;
        left: 50%;
        position: absolute;
        top: 38%;
        transform: translate(-50%, -50%);
        width: 34em;
      }
      
      .byline span {
        display: inline-block;
      }
      
      img {
        width: 100%;
      }
      
      .movie, .phone, .byline {
        position: absolute;
      }
      
      .movie {
        top: -0.75em;
      }
      
      .phone {
        bottom: -0.5em;
      }
      
      .byline {
        color: #fff;
        font-family: "ITC Serif Gothic", Lato;
        font-size: 2.25em;
        left: -2em;
        letter-spacing: 0.4em;
        right: -2em;
        text-align: center;
        text-transform: uppercase;
        top: 42%;
      }
      
      /*** Media queries for adjusting to different screen sizes ***/
      
      @media only screen and (max-width: 600px) {
        .movie-phone {
          font-size: 10px;
        }
      }
      
      @media only screen and (max-width: 480px) {
        .movie-phone {
          font-size: 7px;
        }
      }

      /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
      