    
     /* General styles and layout */
     body {
      background-color: black;
    }
 
    .siteName {
      position: absolute;
      color: #fff;
      font-family: "ITC Serif Gothic", Lato;
      font-size: 3em;
      left: -2em;
      letter-spacing: 0.2em;
      right: -2em;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
    }

    #canvas-image-blending {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    