body {
  background-color: black;
  
}

.card {
  background-color: whitesmoke;
}
.card-img-top {
  size: 80%;
}

#canvas-image-blending {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#siteName {
  font-family: "ITC Serif Gothic", Lato;;
  font-size: 30px;
  color: whitesmoke;
}

.appleLink {
  width: 100px;
}
