

body {
  background-color: black;
  
}

.card {
  background-color: whitesmoke;
}
.card-img-top {
  size: 80%;
}

#canvas-complex {
  background: fixed;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
body {
    background-color: black;
    
}

.card {
    background-color: whitesmoke;
}
.card-img-top {
    size: 80%;
}

#canvas-complex {
    background: fixed;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}